 body {
    min-height:100%;
    padding-top:50px;
    background-image: -webkit-linear-gradient(-90deg , rgb(0,0,0) 0%, rgb(48,48,48) 100%);
    background-image: linear-gradient(-90deg , rgb(0,0,0) 0%, rgb(48,48,48) 100%);

}


 }

 footer {
     padding:10px 40px;

 }

#autoplay {
    -webkit-border-image:none;
    border-radius:3px;
    padding-left:10px;
    padding-right:10px;
    color:#fff;
    text-shadow: 0 1px 0 #111;

}

 #autoplay.noautoplay {   
     background:rgba(132,0,0,1);
     
 }

 #autoplay.autoplay {
     background:rgba(0,132,0,1);

 }

 #results {
      padding:20px;
      overflow:hidden;
      max-height:460px;  
    }

    #results li {
        float:left;
        padding:0px;

    }

    header {
        position:fixed;
        width:100%;
        z-index:999;
        background:#1b1b1b;
        padding:10px 0;
        top:0;
    }

    footer {
        position:fixed;
        width:100%;
        z-index:999;
        background:#1b1b1b;
        padding:10px 0;
        bottom:0;  
    }

    body {
        padding-bottom:20px;

    }

    footer div {
        padding:0 20px;
    }

    footer a {
        color:#fff;
    }

    #echonest {
        float:right;
    }

    #copyright {
        text-transform:uppercase;
        line-height:35px;
    }

    h1 {
        font-weight:bold;
        padding-left:20px;
        margin-bottom:5px;

    }

    header p {
        padding-left:20px;

    }

    header aside {
        float:right;
        margin-right:20px;
    }

    #currentlyPlaying {
        background:#fff;
        border-radius:3px; 
        padding:20px;
        margin:20px;  
        box-shadow: 0 15px 10px -10px rgba(0,0,0, 0.5), 0 1px 4px rgba(0,0,0, 0.3), 0 0 40px rgba(0,0,0, 0.5) inset;
        height:64px; 
        position:relative;
        top:20px;
    }

    #currentlyPlaying:before {
        position:absolute;
        top:-20px;
        left:20px;
        text-transform:uppercase;
        content: "Currently Playing";
        display:block;
        color:#fff;
        font-weight:bold;    
    }

    #currentlyPlaying dl {
        margin:0;
        margin-top:10px;
    }

    #currentlyPlaying dt {
        float:left;
        width:100px;
    }

    #currentlyPlaying dd {
        font-weight:bold;
        color:#1b1b1b;
    text-shadow:#ccc 1px 1px 2px;
    }

    #currentlyPlaying .image {
        float:left;
        margin-right:20px;
        height:64px;
        width:64px;
        border-color: #848483 #939391 #9a9a98;
        background-color: #c1c0be;
        box-shadow: inset 0 1px 0 rgba(0, 0, 0, .05), 0 1px 0 rgba(255, 255, 255, .53);
    }

    #currentlyPlaying .title {
        color:#1b1b1b;
        font-size:2em;
        font-weight:bold;
        margin-bottom:5px;
    }

    #currentlyPlaying .artist {
        text-shadow:#eee 1px 1px 2px;
        font-size:2em;
    }


    .cover {
        display:block;
        position:relative;
        padding:10px;
        margin:10px;
        border-radius:3px;
        width:150px;
        text-decoration:none;
        -webkit-transition:background 100ms linear;
        border:1px solid transparent;
    }

    .error {
        text-align:center;
        background:#fcc;
        padding:10px;
        border-radius:3px;
        margin:10px;
        color:#000;
    }

    .error h2 {
        color:#f00;
        font-weight:bold;
        text-shadow:0px 1px 2px #fff;
    }

    .cover .image {
        position:relative;

    }

    

    li:not(.loading).first:before {
        position:absolute;
        top:-10px;
        left:20px;
        text-transform:uppercase;
        content: "Next Track";
        display:block;
        color:#fff;
        font-weight:bold;    
    }

    li .first {
        display:none;
    }

    .first .first {
        display:block;
    }

    .first .cover {
        border:1px solid #999;
        background-image: -webkit-linear-gradient(90deg , rgb(0,0,0) 0%, rgb(48,48,48) 100%);
        background-image: linear-gradient(90deg , rgb(0,0,0) 0%, rgb(48,48,48) 100%);
    }




    .cover:hover {
     //   background:rgba(255,255,255,0.05);
     //   box-shadow:#000 0px 0px 5px inset;
    }

    .cover:hover .player {
        display:block;
    }
    
    .cover .player {
        position:absolute;
        width:43px;
        height:43px;
        bottom:58px;
        display:none;
        right:15px;
        background:url(img/buttons/Medium/Play-Medium.png);
    }

    .cover .player:hover {
        background:url(img/buttons/Medium/Play-Medium-Hover.png);
    }

    .cover .player:active {
        background:url(img/buttons/Medium/Play-Medium-Pressed.png);
    }

    .first {
        position:relative;
    }

    .cover .title {
        display:block;
        text-align:center;
        padding-top:10px;
        width:100%;
        white-space:nowrap;
        overflow:hidden;
        text-overflow:ellipsis;
        color:#fff;
        font-weight:bold;
    
    }



    .cover .artist {
        overflow:hidden;
        width:100%;
        white-space:nowrap;
        text-overflow:ellipsis;
        display:block;
        text-align:center;
    }

#results .loading {
    background:#fff;
    color:#444;
    border-radius:3px;
    margin-top:30px;
    display:block;
    font-size:23px;
    width:250px;
    text-align:center;
    margin:30px auto;
    font-size:11px;
    float:none;
    text-shadow:#ccc 1px 1px 2px;
    padding:20px;
    box-shadow: 0 15px 10px -10px rgba(0,0,0, 0.5), 0 1px 4px rgba(0,0,0, 0.3), 0 0 40px rgba(0,0,0, 0.5) inset;
    position:relative;
}



@-webkit-keyframes myThrobber {
    0%     { background-position-x: 0; }
    8.33%  { background-position-x: -30px; }
    16.66% { background-position-x: -60px; }
    25%    { background-position-x: -90px; }
    33.33% { background-position-x: -120px; }
    41.66% { background-position-x: -150px; }
    50%    { background-position-x: -180px; }
    58.33% { background-position-x: -210px; }
    66.66% { background-position-x: -240px; }
    75%    { background-position-x: -270px; }
    83.33% { background-position-x: -300px; }
    91.66% { background-position-x: -330px; }
}

.myThrobber {
    display:block;
    width:30px;
    margin:10px auto 0;
    height:30px;
    background:url(img/loading_indicator.png);
    -webkit-animation: myThrobber 1s infinite;
    -webkit-animation-timing-function: step-start;
}

#shareButton {
    float:right;
}