@import url("sp://import/css/reset.css");
/**
  * Eve Theme core / Light Theme core
  * Eve themed webkit core layout for Spotify Client
  * Defines the basic light styles for the client
  * @copyright 2011 by Spotify
  */

/* Search Cancel button */
::-webkit-search-cancel-button {
	display: none;
}

/* Form errors */
::-webkit-validation-bubble-message {
	display: none;
}

/* Scrollbars */
::-webkit-scrollbar {
	height: 14px;
	width:  14px;
}

::-webkit-scrollbar-corner {
	background: url("sp://import/img/scrollbars/light/corner.png");
}

::-webkit-scrollbar-thumb:horizontal {
	background:
		url("sp://import/img/scrollbars/light/horizontal-thumb-left.png") no-repeat left,
		url("sp://import/img/scrollbars/light/horizontal-thumb-right.png") no-repeat right,
		url("sp://import/img/scrollbars/light/horizontal-thumb-middle.png");
	min-width: 20px;
	padding-left: 7px;
	padding-right: 7px;
	-webkit-background-clip: border-box, border-box, content-box;
}

::-webkit-scrollbar-thumb:vertical {
	background:
		url("sp://import/img/scrollbars/light/vertical-thumb-top.png") no-repeat top,
		url("sp://import/img/scrollbars/light/vertical-thumb-bottom.png") no-repeat bottom,
		url("sp://import/img/scrollbars/light/vertical-thumb-middle.png");
	min-height: 20px;
	padding-top: 7px;
	padding-bottom: 7px;
	-webkit-background-clip: border-box, border-box, content-box;
}

/*
 * Horizontal Together
 */
::-webkit-scrollbar-button:horizontal:increment:double-button {
	background: url("sp://import/img/scrollbars/light/button-right-together.png");
	width: 16px;
}

::-webkit-scrollbar-button:horizontal:decrement:double-button {
	background: url("sp://import/img/scrollbars/light/button-left-together.png");
	width: 22px;
}

::-webkit-scrollbar-button:horizontal:increment:double-button:active {
	background: url("sp://import/img/scrollbars/light/button-right-together-pressed.png");
}

::-webkit-scrollbar-button:horizontal:decrement:double-button:active {
	background: url("sp://import/img/scrollbars/light/button-left-together-pressed.png");
}

::-webkit-scrollbar-track:horizontal {
	background:
		url("sp://import/img/scrollbars/light/horizontal-track-left.png") no-repeat left,
		url("sp://import/img/scrollbars/light/horizontal-track.png");
}

::-webkit-scrollbar-track-piece:horizontal:start {
	margin-left: 4px;
}

::-webkit-scrollbar-track-piece:double-button:horizontal:end {
	margin-right: -5px;
}

/*
 * Horizontal Separate
 */
::-webkit-scrollbar-button:horizontal:increment:single-button {
	background: url("sp://import/img/scrollbars/light/button-right.png");
	width: 21px;
}

::-webkit-scrollbar-button:horizontal:decrement:single-button {
	background: url("sp://import/img/scrollbars/light/button-left.png");
	width: 21px;
}

::-webkit-scrollbar-button:horizontal:increment:single-button:active {
	background: url("sp://import/img/scrollbars/light/button-right-pressed.png");
}

::-webkit-scrollbar-button:horizontal:decrement:single-button:active {
	background: url("sp://import/img/scrollbars/light/button-left-pressed.png");
}

::-webkit-scrollbar-track-piece:single-button:horizontal:start {
	background: url("sp://import/img/scrollbars/light/horizontal-track.png") no-repeat 5px 0px; /* Hack to hide horizontal-track-left. */
	margin-left: -5px;
}

::-webkit-scrollbar-track-piece:single-button:horizontal:end {
	margin-right: -5px;
}

/*
 * Vertical Together
 */
::-webkit-scrollbar-button:vertical:increment:double-button {
	background: url("sp://import/img/scrollbars/light/button-down-together.png");
	height: 16px;
}

::-webkit-scrollbar-button:vertical:decrement:double-button {
	background: url("sp://import/img/scrollbars/light/button-up-together.png");
	height: 22px;
}

::-webkit-scrollbar-button:vertical:increment:double-button:active {
	background: url("sp://import/img/scrollbars/light/button-down-together-pressed.png");
}

::-webkit-scrollbar-button:vertical:decrement:double-button:active {
	background: url("sp://import/img/scrollbars/light/button-up-together-pressed.png");
}

::-webkit-scrollbar-track:vertical {
	background:
		url("sp://import/img/scrollbars/light/vertical-track-top.png") no-repeat top,
		url("sp://import/img/scrollbars/light/vertical-track.png");
}

::-webkit-scrollbar-track-piece:vertical:start {
	margin-top: 4px;
}

::-webkit-scrollbar-track-piece:double-button:vertical:end {
	margin-bottom: -5px;
}

/*
 * Vertical Separate
 */
::-webkit-scrollbar-button:vertical:increment:single-button {
	background: url("sp://import/img/scrollbars/light/button-down.png");
	height: 21px;
}

::-webkit-scrollbar-button:vertical:decrement:single-button {
	background: url("sp://import/img/scrollbars/light/button-up.png");
	height: 21px;
}

::-webkit-scrollbar-button:vertical:increment:single-button:active {
	background: url("sp://import/img/scrollbars/light/button-down-pressed.png");
}

::-webkit-scrollbar-button:vertical:decrement:single-button:active {
	background: url("sp://import/img/scrollbars/light/button-up-pressed.png");
}

::-webkit-scrollbar-track-piece:single-button:vertical:start {
	background: url("sp://import/img/scrollbars/light/vertical-track.png") no-repeat 0px 5px; /* Hack to hide vertical-track-top. */
	margin-top: -5px;
}

::-webkit-scrollbar-track-piece:single-button:vertical:end {
	margin-bottom: -5px;
}
