var {
	font-style: initial;
}

/*
.button {
	background: initial;
	border: initial;
	-webkit-border-image: url("sp://import/img/info_group-button.png") 0 11 42 11;
	border-width: 0 11px;
	color: #333;
	display: inline-block;
	line-height: 16px;
	margin: 0;
	padding: 2px 2px 3px;
	text-shadow: 0 1px 0 #EEE;
}
	.button:active {
		-webkit-border-image: url("sp://import/img/info_group-button.png") 21 11 21 11;
	}
	.button:disabled {
		-webkit-border-image: url("sp://import/img/info_group-button.png") 42 11 0 11;
		text-shadow: 0 1px 0 #AAA;
	}
*/

.input {
	background: transparent;
	border-width: 0 14px;
	-webkit-border-image: url("sp://import/img/input.png") 0 14 80 14;
	box-sizing: border-box;
	color: #000;
	display: inline-block;
	height: 35px;
	line-height: 12px;
	outline: 0;
	margin: -4px;
	padding: 1px;
	resize: none;
}
.input:focus, .input.focus {
	-webkit-border-image: url("sp://import/img/input.png") 80 14 0 14;
}

.input:disabled {
	color: #999;
	-webkit-text-fill-color: #999;
	-webkit-border-image: url("sp://import/img/input.png") 40 14 40 14;
}

.input::-webkit-input-placeholder {
	color: #999;
}

input[type="search"] {
	background-image: url("sp://import/img/toolbar-search_glass.png");
	background-repeat: no-repeat;
	background-position: 7px 6px;
	padding-left: 16px;
}
::-webkit-search-cancel-button {
	display: none;
}

textarea {
	border-radius: 5px;
	line-height: 16px;
	min-height: 48px;
	overflow: hidden;
	padding: 4px 7px;
}

legend {
	-webkit-appearance: none;
	display: block;
	margin: 0;
}

/* Form errors */
::-webkit-validation-bubble-message {
	display: none;
}

ul.buttons {
	display: -webkit-box;
	margin: 12px 0;
}
	ul.buttons li + li {
		margin-left: 7px;
	}


.sp-text-truncate {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.sp-drag-image {
	background: #FFF;
	border: 1px solid #000;
	color: #000 !important;
	font-size: 11px;
	line-height: 18px;
	max-width: 100%;
	opacity: 0.99;
	padding: 0 4px;
	position: fixed;
	text-shadow: initial;
	top: 0;
	z-index: -1;
}

/* global offline style */
.offline {
	height:100%;
	-webkit-animation: fading-offline 2s 1;
	-webkit-mask-image:
		-webkit-radial-gradient(center 45deg, circle closest-side, orange 0%, red 100%);
/*
	-webkit-radial-gradient(
		hsla(0, 0%, 0%, 0.8),
		hsla(0, 0%, 0%, 0) 364px);
		-webkit-radial-gradient(50% 50%, ellipse cover, #f7c8ee, #000000 100%);
	-webkit-radial-gradient(
		50%,
		50%,
		color-stop(0, #000),
		color-stop(0.5, transparent),
		color-stop(1, #000))
		);
*/
	pointer-events: none;
}
/*
.offline h1 {
	color: #1b1b1b;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 18px;
	font-weight: bold;
	left: auto;
	line-height: 25px;
	margin-top: -12px;
	position: relative;
	top: 50%;
	text-align: center;
	text-shadow: 1px 1px 0px #515151;
}
*/

/**
 * Image placeholder
 */
.image {
	position: relative;
	overflow: hidden;
	display: block;
	border: 1px solid;
	border-color: #848483 #939391 #9a9a98;
	border-radius: 3px;
	background-color: #c1c0be;
	background-size: cover;
    background-position: 50% 50%;
	background-repeat: no-repeat;
	-webkit-box-shadow: inset 0 1px 0 rgba(0, 0, 0, .05), 0 1px 0 rgba(255, 255, 255, .53);
}

/**
 * Throbber, white background
 */
.throbber {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 76px;
	height: 76px;
	margin: -38px 0 0 -38px;
	background: rgba(255, 255, 255, .75);
	-webkit-border-radius: 4px;
}

/**
 * Throbber, Eve Theme / Light Theme */
@-webkit-keyframes throbber {
	0%     { background-position-x: 0; }
	8.33%  { background-position-x: -30px; }
	16.66% { background-position-x: -60px; }
	25%    { background-position-x: -90px; }
	33.33% { background-position-x: -120px; }
	41.66% { background-position-x: -150px; }
	50%    { background-position-x: -180px; }
	58.33% { background-position-x: -210px; }
	66.66% { background-position-x: -240px; }
	75%    { background-position-x: -270px; }
	83.33% { background-position-x: -300px; }
	91.66% { background-position-x: -330px; }
}
.throbber, .throbber div, .throbber span {
	position: absolute;
	top: 50%;
	left: 50%;
}
.throbber {
	-webkit-border-radius: 4px;
	background: rgba(255, 255, 255, .75);
	height: 76px;
	margin: -38px 0 0 -38px;
	width: 76px;
}
	.throbber div, .throbber span {
		-webkit-animation: throbber .8s infinite;
		-webkit-animation-timing-function: step-start;
		background: url('sp://import/img/throbber-black.png') 0 0 no-repeat;
		height: 30px;
		margin: -15px 0 0 -15px;
		width: 30px;
	}

/**
 * List view styles
 */
	.sp-list a.item {
		background-color: #fff;
	}
	.sp-list a.item:nth-child(even) {
		background-color: #f5f5f5;
	}
		.sp-list > div > div {
            color: #555;
		}
		.sp-list div > a {
				color: #555;
			}
			.sp-list a.selected {
				background-color: #6C6C6C;
			}
			.sp-list a.selected, .sp-list a.selected * { color: #BBB; }
			.sp-list:focus a.selected {
				background-color: #A1D9FF;
			}
			.sp-list:focus a.selected, .sp-list:focus a.selected * {
				color: #2B3844;
			}
				.sp-list div > a > :first-child {
					text-align: center;
					width: 30px;
				}
				.sp-list a > :nth-child(2) {
					width: 30px;
				}
				.sp-list div a :nth-child(5) {
					color: #888;
					text-align: right;
				}
				.sp-list span span:not(.fav-star, .share-track) { pointer-events: none; }
				.sp-list a a:hover { text-decoration: underline; }
