/**
 * GridWidget Style
 * Standard Layout for Spotify Client HTML Grids
 * @copyright 2011 by Spotify
 */

/**
 * @section styles
 */

/** .grid
 * grid placeholder class */
.grid {
	min-height: 100%;
	min-width: 100%;
	position: relative;
}
/** .grid.vertical
 * vertical grid class */
.grid.vertical {
	overflow-x: hidden;
	width: 100%;
}

/** div.viewport
 * Grid uses this if the body isn't the viewport */
div.viewport {
	overflow-x: hidden;
	overflow-y: auto;
}