				padding: 0 5px;
				text-overflow: ellipsis;
				white-space: nowrap;
			}
			.sp-list .sp-track-field-star {
				position: relative;
				width: 26px;
			}
				/* sp-icon-star override on playing */
				.sp-list .sp-track-playing .sp-icon-star:not(:hover) {
					background-image: url("sp://import/img/mainlist-row-playing-marker.png");
					background-position: 7px 4px;
					padding: 2px 7px;
					width: 12px;
				}
				.sp-list:focus .sp-item.sp-track-selected.sp-track-playing .sp-icon-star:not(:hover) { background-position-x: -17px; }
				.sp-list .sp-item.sp-track-selected.sp-track-playing .sp-icon-star:not(:hover) { background-position-x: -5px; }
				.sp-list .sp-track-playing.sp-track-paused .sp-icon-star:not(:hover) { background-position-x: -29px; }
				.sp-list:focus .sp-item.sp-track-selected.sp-track-playing.sp-track-paused .sp-icon-star:not(:hover) { background-position-x: -53px; }
				.sp-list .sp-item.sp-track-selected.sp-track-playing.sp-track-paused .sp-icon-star:not(:hover) { background-position-x: -41px; }
			/* sp-track-field-share */
			.sp-list .sp-track-field-share {
			    position: relative;
			    width: 30px;
			}
			.sp-list :-webkit-any(.sp-track-field-duration, .sp-track-field-number) {
				text-align: right;
				width: 50px;
			}
			.sp-list .sp-track-field-number { width: 30px; }
			/* Unavailable */
			.sp-list .sp-track:not(.sp-track-availability-0):not(.sp-track-selected) .sp-track-field-name,
			.sp-list .sp-track:not(.sp-track-selected) :-webkit-any(.sp-track-field-duration, .sp-track-field-number) { color: #888; }
			/* Premium */
			.sp-list .sp-track:not(.sp-track-selected).sp-track-availability-3 .sp-track-field-name { color: #776990; }
			.sp-list .sp-track a { text-decoration: initial; }
			.sp-list .sp-track a:hover { text-decoration: underline; }

/** .sp-icon-star
 *
 * @usage: star/unstar specific track
 */

/* state track unstarred */
.sp-icon-star {
	background-image: url("sp://import/img/mainlist-star-simple-dark.png");
	background-position-x: -43px;
	background-position-y: 2px;
	background-repeat: no-repeat;
	background-clip: content-box;
	display: inline-block;
	height: 16px;
	left: 0;
	padding: 2px 5px;
	position: absolute;
	top: 0;
	width: 16px;
}
.sp-icon-star:hover  { background-position-x: -59px; }
.sp-icon-star:active { background-position-x: -75px; }

	/* state track starred */
	.sp-track-starred .sp-icon-star 		{ background-position-x: 5px; }
	.sp-track-starred .sp-icon-star:hover 	{ background-position-x: -11px; }
	.sp-track-starred .sp-icon-star:active 	{ background-position-x: -27px; }

	/* state selected track starred */
	.sp-track-selected.sp-track-starred .sp-icon-star 		 { background-position-x: -91px; }
	.sp-track-selected.sp-track-starred .sp-icon-star:hover  { background-position-x: -11px; }
	.sp-track-selected.sp-track-starred .sp-icon-star:active { background-position-x: -27px; }

/** .sp-icon-share
 *
 * @usage: share tracks
 */
.sp-icon-share {
	background: url("sp://import/img/mainlist-share.png") 5px 0 no-repeat;
	background-clip: content-box;
	display: inline-block;
	height: 16px;
	left: 0;
	padding: 2px 5px;
	position: absolute;
	top: 0;
	vertical-align: -2px;
	width: 20px;
}
	.sp-icon-share:hover  { background-position-x: -15px; }
	.sp-icon-share:active { background-position-x: -35px; }
	:focus .sp-track-selected .sp-icon-share        { background-position-x: -55px; }
	:focus .sp-track-selected .sp-icon-share:hover  { background-position-x: -75px; }
	:focus .sp-track-selected .sp-icon-share:active { background-position-x: -95px; }

/** .sp-icon-share
 *
 * @usage: share tracks
 */
.sp-popularity-indicator {
	background: url("sp://import/img/popularity-indicator.png") 0 -8px repeat-x;
	background-clip: content-box;
	display: block;
}
	.sp-popularity-indicator-value {
		background: url("sp://import/img/popularity-indicator.png") 0 0 repeat-x;
		display: block;
		height: 8px;
	}
	.sp-list .sp-track-availability-0 .sp-popularity-indicator { background-position-y: -8px; }
	.sp-list .sp-track-availability-0 .sp-popularity-indicator-value { background-position-y: 0; }
	.sp-list .sp-track:not(.sp-track-availability-0) .sp-popularity-indicator { background-position-y: -24px; }
	.sp-list .sp-track:not(.sp-track-availability-0) .sp-popularity-indicator-value { background-position-y: -16px; }
	.sp-list .sp-track-playing .sp-popularity-indicator { background-position-y: -104px; }
	.sp-list .sp-track-playing .sp-popularity-indicator-value { background-position-y: -96px; }
	.sp-list:focus .sp-track-selected .sp-popularity-indicator { background-position-y: -56px; }
	.sp-list:focus .sp-track-selected .sp-popularity-indicator-value { background-position-y: -48px; }

/**
 * Light theme
 *
 * @usage: add class .sp-light to sp-list
 */
.sp-list.sp-light .sp-item {
	color: #333;
}
.sp-list.sp-light > div {
	background-color: initial;
	background-image: -webkit-linear-gradient(rgba(0, 0, 0, .07), rgba(0, 0, 0, .07) 50%, transparent 50%, transparent);
}
.sp-light .sp-icon-star {
	background-image: url("sp://import/img/mainlist-star-simple-light.png");
}
.sp-light .sp-icon-share {
	background-image: url("sp://import/img/mainlist-share-light.png");
}
.sp-list.sp-light .sp-track-playing {
	color: #fff;
	text-shadow: 0px -1px 0px #6f6f6f;
}
.sp-list.sp-light .sp-track-playing {
	background-image: -webkit-linear-gradient(top, #c1c1c1 1px, #a6a6a6 1px, #818181 100%);
}
	.sp-list.sp-light .sp-track-playing .sp-icon-star:not(:hover) {
		background-image: url("sp://import/img/mainlist-row-playing-marker-light.png");
	}
	/* Ugly workaround, we should get a new png from Pontus */
	.sp-track-selected.sp-track-starred .sp-icon-star:hover,
	.sp-track-selected.sp-track-starred .sp-icon-star:active {
		background-image: url("sp://import/img/mainlist-star-simple-dark.png");
	}

	.sp-list.sp-light .sp-item.sp-track-selected {
		background-color: #a2a2a2;
		background-image: initial;
	}
	.sp-list.sp-light .sp-item.sp-track-selected, .sp-list.sp-light .sp-item.sp-track-selected * {
		color: #fff;
		text-shadow: 0px 1px 0px rgba(0, 0, 0, .27);
	}
	.sp-list.sp-light:focus .sp-item.sp-track-selected {
		background-color: #4f86de;
		background-image: initial;
	}
	.sp-list.sp-light:focus .sp-item.sp-track-selected, .sp-list.sp-light:focus .sp-item.sp-track-selected * {
		color: #fff;
		text-shadow: 0px 1px 0px #2e79aa;
	}
.sp-list.sp-light .sp-track:not(.sp-track-selected) :-webkit-any(.sp-track-field-duration, .sp-track-field-number) {
	color: #666;
}
.sp-list.sp-light .sp-track.sp-track-playing :-webkit-any(.sp-track-field-duration, .sp-track-field-number) {
	color: #fff;
	text-shadow: 0px -1px 0px #6f6f6f;
}
.sp-list.sp-light:focus a.sp-item.sp-track-selected.sp-track-playing :-webkit-any(.sp-track-field-duration, .sp-track-field-number) {
	color: #fff;
}
.sp-list.sp-light a.sp-item.sp-track-selected.sp-track-playing :-webkit-any(.sp-track-field-duration, .sp-track-field-number) {
	color: #666;
	text-shadow: none;
}