/**
 * PlayerWidget Style
 * Standard Layout for Spotify Client HTML Players
 * @copyright 2011 by Spotify
 */

/**
 * @section styles
 */

/**
 * Player styles
 */
.sp-player {
	display: inline-block;
	height: 128px;
	position: relative;
	width: 128px;
	z-index: 10;
}
.sp-player-image {
	cursor: default;
	-webkit-transition: 200ms opacity;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 3px;
	box-shadow: inset 0 1px 0 hsla(0, 0%, 100%, .1), 0 1px 2px #222;
	display: block;
	height: 100%;
	line-height: 0;
	overflow: hidden;
	width: 100%;
}
	/* Default player (Medium)
	 *
	 * @usage: Player size 128x128 - applicable on 150x150
	 */
	.sp-player .sp-image {
		cursor: pointer;
		position: relative;
		display: inline-block;
		height: 100%;
		width: 100%;
		background-clip: content-box;
		background-size: 100%;
	}
	.sp-player .sp-player-button {
		position: absolute;
		bottom: 4%;
		right: 4%;
		width: 43px;
		height: 43px;
		border: none;
		background: url("sp://import/img/play-button-M.png") transparent;
		background-position-x: -90px;
		display: block;
	}
	.sp-player.sp-player-paused .sp-player-button { display: none;}
		.sp-player.sp-player-paused:hover .sp-player-button { display: block;}
		.sp-player.sp-player-paused .sp-player-button { background-position-x: 0px;}
		.sp-player.sp-player-paused .sp-player-button:hover { background-position-x: -45px; }
		.sp-player .sp-player-button:hover { background-position-x: -135px;}

	/* Small player
	 *
	 * @usage: Player size 64x64 - applicable on 54x54
	 */
	.sp-player.sp-image-small {
		width: 64px;
		height: 64px;
	}
		.sp-player.sp-image-small .sp-player-button {
			background: url("sp://import/img/play-button-S.png") transparent;
			width: 30px;
			height: 30px;
			background-position-x: -64px;
		}
			.sp-player.sp-image-small.sp-player-paused .sp-player-button { background-position-x: 0px;}
			.sp-player.sp-image-small.sp-player-paused .sp-player-button:hover { background-position-x: -32px;}
			.sp-player.sp-image-small .sp-player-button:hover { background-position-x: -96px;}

	/* Large player
	 *
	 * @usage: Player size 200x200
	 */
	.sp-player.sp-image-large {
		width: 200px;
		height: 200px;
	}
		.sp-player.sp-image-large .sp-player-button {
			background: url("sp://import/img/play-button-L.png") transparent;
			width: 66px;
			height: 66px;
			background-position-x: -136px;
		}
			.sp-player.sp-image-large.sp-player-paused .sp-player-button { background-position-x: 0px;}
			.sp-player.sp-image-large.sp-player-paused .sp-player-button:hover { background-position-x: -68px;}
			.sp-player.sp-image-large .sp-player-button:hover { background-position-x: -204px;}

	/* Extra large player
	 *
	 * @usage: Player size 256x256
	 */
	.sp-player.sp-image-extra-large {
		width: 256px;
		height: 256px;
	}
		.sp-player.sp-image-extra-large .sp-player-button {
			background: url("sp://import/img/play-button-XL.png") transparent;
			width: 79px;
			height: 79px;
			background-position-x: -162px;
		}
			.sp-player.sp-image-extra-large.sp-player-paused .sp-player-button { background-position-x: 0px;}
			.sp-player.sp-image-extra-large.sp-player-paused .sp-player-button:hover { background-position-x: -81px;}
			.sp-player.sp-image-extra-large .sp-player-button:hover { background-position-x: -243px;}
