/**
 * Mini reset for 
 * html, body, ul, h1, h2, h3, h4, h5, h6, p, ul, ol,
 * :focus, a, a:hover, var, button, input, textarea,
 * input[type="search"], fieldset, legend
 *
 * @section reset
 */
html, body, ul, h1, h2, h3, h4, h5, h6, p, fieldset {
	margin: 0;
	padding: 0;
}
html, body { overflow: initial; }
html {
	-webkit-font-smoothing: subpixel-antialiased;
	-webkit-user-select: none;
	cursor: default;
	font: 12px/17px "Lucida Grande", "Tahoma", "Arial", sans-serif;
	height: 100%;
}
ul, ol { list-style: none; }
:focus { outline: initial; }
button, input, textarea {
	-webkit-appearance: none;
	font-family: inherit;
	font-size: 12px;
}
fieldset {
	border: 0;
}