/**
 * Shared styles for Spotify Client Themes
 * These styles can be overridden in Parent Theme file
 * @copyright 2011 by Spotify
 */

/**
 * Custom drag image workaround
 *
 * @workaround
 * @affects		all known browsers
 * @valid		yes
 */
a {
	-webkit-user-drag: element;
	color: #999;
	text-decoration: none;
}
a:hover { text-decoration: underline; }
var { font-style: initial; }
button, input, textarea {
	-webkit-appearance: none;
	font-family: inherit;
	font-size: 12px;
}
textarea {
	border-radius: 5px;
	line-height: 16px;
	min-height: 48px;
	overflow: hidden;
	padding: 4px 7px;
}
input[type="search"] {
	background-image: url("sp://import/img/toolbar-search_glass.png");
	background-repeat: no-repeat;
	background-position: 7px 6px;
	padding-left: 16px;
}
fieldset {
	padding: 0;
}
legend {
	-webkit-appearance: none;
	display: block;
	margin: 0;
}

/**
 * Shared classes
 *
 * @section styles
 */

 /** .exernal-link
  *
  * @usage: Links that unfocus the Spotify application e.g. pops a browser
  */
a[href^='http:']::after {
	margin-left: 3px;
	content: url('sp://import/img/icon-external.png');
	opacity: 0.5;
}
	a[href^='http:']:hover::after {
		opacity: 1;
	}
a.no-ext-icon[href^='http:']::after {
	content: none;
}

/** .offline
 * Global offline style */
.offline {
	height: 100%;
	pointer-events: none;
}

/** .box
 * Evenly spaced list
 * Set ul class="box spaced-X" */
.box {
	display: -webkit-box;
}
ul.spaced-7 li + li {
	margin-left: 7px;
}
ul.spaced-14 li + li {
	margin-left: 14px;
}

/** .trunc
 * Trancated element class w/ ellipsis */
.sp-text-truncate {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

/**
 * .button
 *
 * @description Classic button class
 * @usage Depricated, use .sp-button in api.css instead
 */
.button {
	-webkit-border-image: url("sp://import/img/info_group-button.png") 0 7 42 7;
	background: initial;
	border: initial;
	border-width: 0 7px;
	box-sizing: border-box;
	color: #333;
	cursor: default;
	display: inline-block;
	font-size: 12px;
	line-height: 17px;
	margin: 0;
	max-width: 100%;
	overflow: hidden;
	padding: 2px;
	text-decoration: none;
	text-overflow: ellipsis;
	text-shadow: 0 1px 0 #EEE;
	white-space: nowrap;
}
	.button:active {
		-webkit-border-image: url("sp://import/img/info_group-button.png") 21 11 21 11;
	}
	.button:disabled {
		-webkit-border-image: url("sp://import/img/info_group-button.png") 42 11 0 11;
		text-shadow: 0 1px 0 #AAA;
	}
	/** .button.icon
	 *
	 * @usage: Buttons that requires icons e.g. share playlist
	 */
	.button.icon span {
		display: inline-block;
		position: relative;
		top: 2px;
		height: 12px;
		width: 14px;
		margin-right: 3px;
		overflow: hidden;
	}
		.button.icon .plus::before {
			position: relative;
			top: 0;
			content: url('sp://import/img/button-icons.png');
		}
		.button.icon .share::before {
			position: relative;
			top: -12px;
			content: url('sp://import/img/button-icons.png');
		}
		.button.icon .cross::before {
			position: relative;
			top: -23px;
			content: url('sp://import/img/button-icons.png');
		}

/**
 * .new-button
 *
 * @description New button class w/ primary
 * @usage Depricated, use .sp-button in api.css instead
 */
.new-button {
	-webkit-border-image: url("sp://import/img/button.png") 50 5 25 5;
	background: initial;
	border: initial;
	border-width: 0 5px;
	box-sizing: border-box;
	color: #373737;
	cursor: default;
	display: inline-block;
	font-size: 12px;
	line-height: 19px;
	margin: 0;
	max-width: 100%;
	overflow: hidden;
	padding: 3px 3px 3px;
	text-decoration: none;
	text-overflow: ellipsis;
	text-shadow: 0 1px 0 #FAFAFA;
	white-space: nowrap;
}
.new-button:active {
	-webkit-border-image: url("sp://import/img/button.png") 75 5 0 5;
}
.new-button:disabled, .new-button.primary:disabled {
	-webkit-border-image: url("sp://import/img/button.png") 50 5 25 5;
	opacity: 0.3;
}
.new-button.primary {
	-webkit-border-image: url("sp://import/img/button.png") 0 5 75 5;
	color: #FFF;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, .27);
}
.new-button.primary:active {
	-webkit-border-image: url("sp://import/img/button.png") 25 5 50 5;
}
.new-button.primary:disabled {
	-webkit-border-image: url("sp://import/img/button.png") 0 5 75 5;
}

/** .sp-drag-image
  * Global class for draggables */
.sp-drag-image {
	background: #FFF;
	border: 1px solid #000;
	color: #000;
	font-size: 11px;
	line-height: 18px;
	max-width: 100%;
	opacity: 0.99;
	padding: 0 4px;
	position: fixed;
	text-shadow: initial;
	top: 0;
	z-index: -1;
}
/** .drag-over
 * Global class for droppables */
.drag-over > * { pointer-events: none; }
/**
 * Workaround until there's :drag-over or similar, class is set in JS
 *
 * @workaround
 * @affected	all known browsers
 * @valid		yes
 */
.drag-over::before {
	background-color: rgba(255, 255, 255, 0.1);
	border: 2px solid rgba(255, 255, 255, 0.99);
	border-radius: 3px;
	bottom: 0;
	content: "";
	display: block;
	left: 0;
	pointer-events: none;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 10;
}

/** .input
 * input field class */
.input {
	-webkit-border-image: url("sp://import/img/input.png") 0 14 80 14;
	background: transparent;
	border-width: 0 14px;
	box-sizing: border-box;
	color: #000;
	display: inline-block;
	height: 35px;
	line-height: 12px;
	outline: 0;
	margin: -4px;
	padding: 1px;
	resize: none;
}
.input:focus, .input.focus {
	-webkit-border-image: url("sp://import/img/input.png") 80 14 0 14;
}
.input:disabled {
	-webkit-text-fill-color: #999;
	-webkit-border-image: url("sp://import/img/input.png") 40 14 40 14;
	color: #999;
}
.input::-webkit-input-placeholder {
	color: #999;
}

